# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
# Libraries should not include pubspec.lock, per https://dart.dev/guides/libraries/private-files#pubspeclock.
/pubspec.lock
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Coverage
coverage/

# Test related
test/.test_coverage.dart
test_driver/

# Android
*.jks
key.properties
android/local.properties
android/app/debug
android/app/profile
android/app/release

# iOS
ios/Runner/GoogleService-Info.plist
ios/firebase_app_id_file.json

# macOS
macos/Runner/GoogleService-Info.plist
macos/firebase_app_id_file.json

# Web
web/firebase-config.js

# Windows
windows/runner/

# Linux
linux/flutter/ephemeral

# Scripts backup files
scripts/*.bak
